@font-face {
    font-family: 'Lato-Regular';
    src: url('/Lato-Regular.ttf') format('truetype');
}

body {
    font-family: 'Lato-Regular';
}

body > header {
	border-bottom: 5px solid black;
}

button {
	cursor: pointer;
}

#logo {
	float:left;
	margin-left: 40px;
	margin-bottom: 20px;
}

#credentials {
	float: right;
	margin-right: 40px;
	margin-top: 40px;
	font-size: 23px;
}

#rooms div {
	padding: 5px;
}

.roomBtns {
	display: none;
}


#game {
	border-bottom: 5px solid black;
	padding: 20px 0;
	display: none;
}

#btnLeaveRoom {
	 margin: 0 auto;
	 border: 4px solid black;
	 background: white;
	 font-weight: bold;
	 font-size: 23px;
	 width: 220px;
	 padding: 7px 0;
	 display: block;
}

#playersAndScores {
	font-weight: bold;
	text-align: center;
	margin: 30px;
	font-size: 45px;
}

#playersAndScores div {
	display: inline-block;
	padding: 0 5px;
}

#playersAndScores div:nth-child(1), #playersAndScores div:nth-child(4) {
	font-weight: normal;
	margin: 0 30px;
}

#gameStatus {
	font-size: 20px;
	text-align: center;
	margin-bottom: 40px;
}

#wisielec {
	float:left;
	position: relative;
	width: 350px;
	height: 450px;
	margin-left: 70px;
}

#wisielec > div {
	position: absolute;
	background: blue;
	opacity: 0.05;
}

#wisielec > div.drawn {
	opacity: 1;
}

#wisielec .w1, #wisielec .w2, #wisielec .w3, #wisielec .w4 {
	background: black !important;
}

#wisielec .w1 {
	bottom: 0;
	left: 0;
	width: 350px;
	height: 30px;
}

#wisielec .w2 {
	top: 0;
	right: 40px;
	width: 30px;
	height: 420px;
}

#wisielec .w3 {
	top: 0;
	left: 90px;
	width: 190px;
	height: 30px;
}

#wisielec .w4 {
	top: 30px;
	left: 90px;
	width: 15px;
	height: 56px;
}

#wisielec .w5 {
	top: 85px;
	left: 62px;
	width: 50px;
	height: 50px;
	background: none;
	border: 10px solid blue;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}

#wisielec .w6 {
	top: 154px;
	left: 90px;
	width: 15px;
	height: 120px;
}

#wisielec .w7 {
	top: 170px;
	left: 63px;
	width: 15px;
	height: 65px;
	-moz-transform: rotate(50deg);
	-webkit-transform: rotate(50deg);
	-o-transform: rotate(50deg);
	-ms-transform: rotate(50deg);
	transform: rotate(50deg);
}

#wisielec .w8 {
	top: 170px;
	left: 117px;
	width: 15px;
	height: 65px;

	-moz-transform: rotate(-50deg);
	-webkit-transform: rotate(-50deg);
	-o-transform: rotate(-50deg);
	-ms-transform: rotate(-50deg);
	transform: rotate(-50deg);
}

#wisielec .w9 {
	top: 266px;
	left: 75px;
	width: 15px;
	height: 60px;

	-moz-transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	transform: rotate(30deg);
}

#wisielec .w10 {
	top: 266px;
	left: 105px;
	width: 15px;
	height: 60px;

	-moz-transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	transform: rotate(-30deg);
}

#secretWord {
	border: 5px solid black;
	background: #ddd;
	overflow: auto;
	padding: 0 15px 20px;
	display: inline-block;
}

#secretWord div {
	width: 30px;
	height: 50px;
	line-height: 50px;
	margin: 0 0 0 15px;
	float: left;
	text-align: center;
	border-bottom: 2px solid black;
	font-size: 32px;
}

#secretWord div:nth-child(1) {
	margin-left: 0 !important;
}


#keyboard {
	width: 390px;
	text-align: center;
	margin: 80px 0 70px 75px;
}

#keyboard.locked {
	opacity: 0.1;
}

#keyboard > div {
	margin: 0 0 5px;
	display: inline-block;
}

#keyboard > div > div {
	border: 2px solid black;
	width: 30px;
	height: 30px;
	line-height: 30px;
	float: left;
	margin-left: 5px;
	font-weight: bold;
}

#keyboard > div > div:nth-child(1) {
	margin-left: 0 !important;
}

#keyboard > div > div.used {
	opacity: 0.3;
}

#keyboard.active > div > div:hover {
	background: orange;
	cursor: pointer;
}

#stats {
	text-align: center;
}

#stats th {
	text-decoration: underline;
	font-weight: normal;
	font-size: 15px;
	padding: 5px 15px;
}

#stats td {
	font-size: 35px;
	padding: 5px;
	font-weight: bold;
}

#buttonNick {
	background: black;
	border: 0;
	color: white;
	font-size: 19px;
}

#inputNick {
	border: 2px solid black;
	width: 200px;
	padding: 5px;
}

#bottomBlock {
	margin-left: 40px;
	margin-right: 40px;
}

#nick {
	font-weight: normal;
}

#nickHeading {
	margin-left:510px;
}

#roomsList {
	float:left;
	width:500px;
	padding-bottom: 200px;
}

#gameRight {
	margin-left: 510px;
}

#play {
	overflow: auto;
	margin-bottom: 30px;
}

#newRoom {
	 margin: 0 auto;
	 border: 4px solid black;
	 background: white;
	 font-weight: bold;
	 font-size: 23px;
	 width: 220px;
	 padding: 7px 0;
}





/* ################## */
/* ##### popupy ##### */
/* ################## */

.dim {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	display: none;
}

.popup {
	margin: 200px auto 0;
	color: white;
	text-align: center;
	z-index: 100;

	-webkit-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-shadow: 0 0 30px -10px rgba(0,0,0,1);
	box-shadow: 0 0 30px -10px rgba(0,0,0,1);
}


.dim.secret {
	background: rgba(255,126,0, 0.95);
	z-index: 9 !important;
}

.dim.secret .popup {
	background: #FF7E00;
	color: white;
	width: 511px;
	height: 351px;
	border: 5px solid #c56302;
}

.dim.secret .popup h1 {
	font-size: 70px;
	font-weight: bold;
	margin-top: 20px;
}

.dim.secret .popup h2 {
	font-size: 25px;
	margin-top: -20px;
}

.dim.secret .popup button {
	background: white;
	border: 0;
	color: #FF7E00;
	font-size: 25px;
}

.dim.secret .popup input {
	border: 2px solid white;
	background: #FF7E00;
	width: 200px;
	padding: 5px;
	color: white;
}



.dim.leave {
	background: rgba(70,70,70, 0.95);
}

.dim.leave .popup {
	background: #464646;
	color: white;
	width: 511px;
	height: 351px;
	border: 5px solid #333333;
}

.dim.leave .popup h1 {
	font-size: 70px;
	font-weight: bold;
	margin-top: 15px;
}

.dim.leave .popup h2 {
	font-size: 25px;
	font-weight: normal;
	margin-top: -25px;
}

.dim.leave .popup button {
	background: white;
	border: 0;
	color: #464646;
	font-size: 25px;
	margin-top: 10px;
}

.dim.leave .popup div {
	display: inline;
	font-size: 35px;
	font-weight: normal;
	margin-top: 10px;
}


.dim.win {
	background: rgba(23,139,228, 0.95);
}

.dim.win .popup {
	background: #178be4;
	color: white;
	width: 676px;
	height: 464px;
	border: 5px solid #135e98;
}

.dim.win .popup h1 {
	font-size: 60px;
	font-weight: bold;
	margin-top: 15px;
}

.dim.win .popup h2 {
	font-size: 40px;
	font-weight: normal;
	margin-top: 104px;
}

.dim.win .popup button {
	margin: 0 auto;
	border: 4px solid white;
	background: #178be4;
	font-weight: bold;
	font-size: 23px;
	width: 220px;
	padding: 7px 0;
	color: white;
}

.dim.win .popup img {
	float: left;
	margin-top: 70px;
	margin-left: 55px;
}


.dim.lose {
	background: rgba(225,19,19, 0.95);
}

.dim.lose .popup {
	background: #e11313;
	color: white;
	width: 676px;
	height: 464px;
	border: 5px solid #a80e0e;
}

.dim.lose .popup h1 {
	font-size: 60px;
	font-weight: bold;
	margin-top: 15px;
}

.dim.lose .popup h2 {
	font-size: 40px;
	font-weight: normal;
	margin-top: 104px;
}

.dim.lose .popup button {
	margin: 0 auto;
	border: 4px solid white;
	background: #e11313;
	font-weight: bold;
	font-size: 23px;
	width: 220px;
	padding: 7px 0;
	color: white;
}

.dim.lose .popup img {
	float: left;
	margin-top: 70px;
	margin-left: 55px;
}